include LICENSE CHANGELOG.md README.md
include requirements.txt
recursive-include wasf/desktop *
recursive-include wasf/view/resources *
recursive-include wasf/gems/*/resources *
recursive-include tests *
