[Desktop Entry]
Type=Application
Name=Waffles@systemtray
Categories=Utility;
Comment=Check-update systemtray utility for Waffles
Exec=/usr/local/bin/waffles-tray
Icon=/usr/share/icons/waffles_tray.svg
