[Desktop Entry]
Type=Application
Name=Waffles App Control
Categories=System;
Comment=Install and remove Web - AppImage - Flatpak and Snap applications
Exec=/usr/local/bin/waffles
Icon=waffles
