[Desktop Entry]
Type=Application
Name=WASF App Control
Categories=System;
Comment=Install and remove Web - AppImage - Snap and Flatpak applications
Exec=/usr/local/bin/wasf
Icon=wasf
