[Desktop Entry]
Type=Application
Name=waffles@tray
Categories=Utility;
Comment=Install and remove Web - AppImage - Snap and Flatpak applications
Exec=/usr/local/bin/waffles-tray
Icon=/usr/share/icons/hicolor/scalable/apps/waffles.svg
