[Desktop Entry]
Type=Application
Name=WASF (tray)
Categories=System;
Comment=Install and remove Web - AppImage - Snap and Flatpak applications
Exec=/usr/bin/wasf-tray
Icon=wasf
